body {
  padding: 50px;
  text-align: center;
}
.form-group input {
  padding-left: 10px;
  width: 200px;
}
#list-student {
  width: 700px;
  border: 1px solid #cccccc;
  margin-top: 30px;
  text-align: center;
  margin: 30px auto 0 auto;
}
#totalBonus {
  color: red;
  font-size: 20px;
  padding-left: 41%;
}
